.signupcard {
   /* box-shadow: 4px 1px 25px 2px rgba(221, 221, 221, 0.86); */
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.11), 0 6px 20px 0 rgba(0, 0, 0, 0.07);
    width: 65%;
    background: #ffffff;
}

.signuparea {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

p.signfont {
    text-align: center;
    font-size: 30px;
    font-family: Lato;
    margin-top: 1em;
}




.anticon-close-circle {
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s;
    font-size: 12px;
  }
  .anticon-close-circle:hover {
    color: #999;
  }
  .anticon-close-circle:active {
    color: #666;
  }
  form.formsinput .ant-input {
    /* margin-bottom: 22px; */
    margin-bottom:0px;
    border: none;
    border-bottom: 1px solid #dad4d4 !important;
    border-radius: 0px;
    box-shadow:none;
}
form.formsinput span.ant-input-prefix {
    top: 17px;
    left: 1px;
}
form.formsinput span.ant-input-suffix {
    display: none;
}

form.formsinput i.anticon.anticon-phone {
    transform: rotate(94deg);
}

form.formsinput span.ant-input-affix-wrapper {
    width: 92%;
    display: block;
}

.divider span:before {
    content: "";
    background-color: #a79d9d;
    position: absolute;
    width: 1px;
    height: 100px;
    top: -94px;
    left: 50%;
    display: block;
}

.divider span::after
{
    content: "";
    background-color: #a79d9d;
    position: absolute;
    width: 1px;
    height: 100px;
    top: -94px;
    left: 50%;
    display: block;

}

.wrapper {
    position: relative;
    /* height: 86%; */
    height: 95%;
    margin: 10px;
}

.line {
    position: absolute;
    left: 16px;
    /* top: 0; */
    top:-20px;
    bottom: 0;
    width: 1px;
    background: #ccc;
    z-index: 1;
}

.wordwrapper {
    text-align: center;
    height: 12px;
    position: absolute;
    left: 3px;
    /* top: 50%; */
    top:45%;
    margin-top: -12px;
    z-index: 2;
}

.ordivider {
    border: none;
    background: rgb(105, 64, 186);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    text-transform: uppercase;
    float: right;
    color: #ffffff;
    line-height: 29px;
    font-family: Lato;
    font-size: 12px;
    font-weight: 600;
}

p.genderchoose {
    text-align: left;
    color: #cccccc;
    margin-bottom: 8px;
}

form.formsinput .ant-radio-group {
    margin-left: -6em;
    margin-bottom: 18px;
}


button.ant-btn.sbmtbtn {
    background: rgb(105, 64, 186);
    color: #ffffff;
    padding: 0 25px;
    height: 35px;
    border: none;
    border-radius: 4px;
    margin-right: 16px;
}
button.ant-btn.cnclbtn {
   border:1px solid  rgb(105, 64, 186);
    color: rgb(105, 64, 186);
    padding: 0 25px;
    height: 35px;
    border-radius: 4px;
}
form.formsinput label.gendervalue.ant-radio-wrapper span {
    color: #cccccc;
}
form.formsinput input.ant-input {
    font-size: 14px;
    font-family: Lato;
}
.registerbtn {
    margin: 2em 0 1em 0;
}

.sidesection{
    background: rgb(105, 64, 186);
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
 }
 .sidesection h2{
     color:#ffffff;
     font-weight: 300;
     margin:30px 0 5px;
 }
 .sidesection hr{
     background: rgba(255, 255, 255, 0.66);
     width: 15%;
 }
.formsigninmit1 {
    margin-left: 3em;
    background: #ffffff;

}

button.ant-btn.sbmtbtn:hover {
    background: #533392;
}

button.ant-btn.cnclbtn:hover {
    background: #f7f7f7;
}

button.ant-btn.facebooklogin {
    background: #4267b2;
    color: #ffffff;
    font-family: Lato;
    height: 47px;
    border: none;
    width: 60%;
    margin-bottom: 2em;
    
}
button.ant-btn.googlepluslogin {
    background:#dd4b39;
    color: #ffffff;
    font-family: Lato;
    height: 47px;
    border: none;
    width: 60%;
}

.formsigninmit1 .sociallogin {
    display: flex;
    justify-content: center;
    align-items: center;
}


.signupwithsocial .ant-btn > .anticon + span, .ant-btn > span + .anticon {
    margin-left: 8px;
    font-size: 15px;
    width: 20px;
}

button.ant-btn.googlepluslogin i {
    font-size: 19px;
    vertical-align: text-bottom
}
p.regtext {
    margin-top: 20px;
    margin-bottom: 2em;
    font-family: Lato;
    font-weight: 400;
    font-size: 13px;
    color: #8e8b8b;
}
a.loginlink {
    font-size: 14px;
    color: #6940ba;
    font-family: Lato;
    font-weight: 500;
}

.ant-col-15.centercontent {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* -------------------12march css change for middle the section start----------------------*/
.signuparea .wrapper.forsignup{
    height:325px;
}
.forsignupform{
    margin-top:7px;
}
/* -------------------12march css change for middle the section start----------------------*/

/* *******************************15th march submit section **************************** */
.submitArea{
    width: 100%;
}
.formsinput .has-error .ant-form-explain{
    text-align:left;
    margin-top:2px;
    font-size:13px;
}
/* *******************************15th march submit section **************************** */
@media only screen and (min-width: 320px) and (max-width:767px){

.signupcard {
   
    width: 95%;
    margin-top: 8em;
    margin-bottom: 2em;
    box-shadow: none;
    height:100%;
}
.formsigninmit1 {
    margin: 0 2em;
}
}


@media only screen and (min-width: 768px) and (max-width:1920px){
 .ordividerres
  {
  display:none;
       
  }

}