.postsec{
    background:rgb(255, 255, 255);
    padding: 20px 15px 15px;
    box-shadow: 0px 3px 8px 1px rgba(0,0,0,0.05);
    width: 50%;
    margin: 30px auto 15px;
    height: auto;

}
.postsec hr{
    border: none;
    margin-bottom: 1em;
}
button.ant-btn.postedit {
    width: auto;
    text-align: center;
    line-height: 0;
    height: 36px;
    float: left;
    margin-right: 5px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 13px;
    border-color: rgba(0, 0, 0, 0.42);
}

button.ant-btn.upldbtnwall {
    width: auto;
    text-align: center;
    line-height: 0;
    height: 36px;
    float: left;
    margin-right: 5px;
    border-radius: 30px;
    font-weight: 600;
    margin-left: 12px;
    font-size: 13px;
    border-color: rgba(0, 0, 0, 0.42);
}
.postedimg a {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: rgba(0,0,0,.9);
    text-align: left;
    padding-left: 10px;
    margin: 0;
    float: left;
}
button.ant-btn.upldbtnwall:hover {
    color:rgb(105, 64, 186);
    border-color:rgb(105, 64, 186);
    border: 1px solidrgb(105, 64, 186);
}
.showpostall {
    float: left;
    text-align: left;
}
button.ant-btn.postedit:hover{
    border-color:rgb(105, 64, 186);
    color: rgb(105, 64, 186);
}

button.ant-btn.postimg {
    width: auto;
    text-align: center;
    line-height: 0;
    height: 36px;
    float: left;
    border-radius: 30px;
    font-weight: 600;
    font-size: 13px;
    border-color: rgba(0, 0, 0, 0.42);
}
button.ant-btn.post {
    width: auto;
    text-align: center;
    line-height: 0;
    height: 31px;
    float: right;
    padding: 0 19px;
    margin-right: 5px;
    margin-top: 4px;
    background:rgb(105, 64, 186);
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 14px;
    font-family: Lato;
    border-radius: 2px;
    border: none;
}
button.ant-btn.post:hover {
    background: rgb(2, 102, 156);
}
.postsec i.anticon.anticon-edit{
    vertical-align: middle;
}
.postsec .anticon:before {
    font-size: 16px;
   font-weight: 500;
}
 button.ant-btn.postedit:hover {
    color:rgb(105, 64, 186);
    border-color: rgb(105, 64, 186);
    border: 1px solid rgb(105, 64, 186);
}
button.ant-btn.postimg:hover {
    color:rgb(105, 64, 186);
    border-color:rgb(105, 64, 186);
    border: 1px solidrgb(105, 64, 186);
}
.postsec p{
    padding-bottom: 25px;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    border-bottom: 1px solid #e6e9ec;
    margin: 0 0 10px;
}


/* posted blog css start*/
.postedpartcard{
    background:rgb(255, 255, 255);
    padding: 15px 15px 0;
    box-shadow: 0px 3px 8px 1px rgba(0,0,0,0.05);
    width: 50%;
    margin: 2em auto;

}
.ant-btn:hover, .ant-btn:focus {
    color: inherit;
   
}
button.ant-btn.post:hover {
    background: rgb(92, 55, 165);
}
.ant-modal.mitprofileEditmodal button.ant-btn {
    border: 1px solid #a7a5ab;
    font-family: Lato;
    font-size: 14px;
}
.ant-modal.mitprofileEditmodal button.ant-btn:hover {
    /* background: #f7f7f7; */
    border: 1px solid #6940ba;
    color: #6940ba;
}
.ant-modal.mitprofileEditmodal button.ant-btn.ant-btn-primary {
    background: rgb(105, 64, 186);
    border: none;
    color: #ffffff;
}
.userpicpost{
    background-image: url('../../Images/male.png');
    margin: 0 auto;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-position: center;
    background-color: rgba(255, 255, 255, 1);
    background-repeat:no-repeat; 
    /* box-shadow: 0 1px 15px 2px rgba(0,0,0,.08); */
}

.userpicpost img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    /* border: 2px solid rgb(255, 255, 255); */
}
.postedpartcard p{
font-size: 14px;
line-height: 20px;
font-weight: 600;
color: rgba(0,0,0,.9);
text-align: left;
padding-left: 10px;
margin: 0;
cursor:pointer;
}
.postedpartcard h3{
    cursor:pointer;
    line-height: 20px;
    font-size: 12px;
    color:rgba(0,0,0,.6);
    text-align: left;
    padding-left: 10px;
}
.postedimg p{
   padding-left: 10px;

}
.postedimg h3{
    padding-left: 10px;
    font-size: 12px;
    color:rgba(0,0,0,.6);
 }
.postedimg img{
    height:auto;
    width:100%;
    margin-bottom: 8px;
}
.postedimg {
    border: 1px solid rgb(230, 233, 236);
    margin: 15px 0 0 0;
    padding-bottom: 2px;
}
textarea.ant-input.showpost {
    border: none;
    outline: none;
    box-shadow: none;
    resize: none;
}
.likecomment{
    padding: 10px 0 5px;
    text-align: left;
}
.likecomment h3{
padding: 0 0 10px 0;
border-bottom: 1px solid rgb(230, 233, 236);

}
.likecomment button{
border:0;
font-size: 14px;
line-height: 20px;
font-weight: 600;
color: rgba(0,0,0,.6);
}
.likecomment button:hover{
    background-color: rgba(152,216,244,.25);
    color: rgb(0, 96, 151);
}
.likecomment button:focus{
    color: rgb(0, 96, 151);
}
.likecomment button:focus .anticon-like-o:before{
content:'\E64C';
}

.textareawall {
    height: 115px;
    margin-bottom: 28px;
}
.textareawall .ql-container.ql-snow {
    /* border: none; */
}

.quill.textareheadng {
    margin-bottom: 20px;
}

.textareheadng .ql-editor.ql-blank::before {
    color: rgba(0,0,0,0.4);
    content: attr(data-placeholder);
    font-style: normal;
    pointer-events: none;
    position: absolute;
    font-size: 15px;
    font-family: lato;
    line-height: 15px;
}
.userprflimg img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid #c7c6c6;
    background-size: cover;
    float: left;
}
h4.usrnamewall {
    text-align: left;
    font-family: Lato;
    font-size: 15px;
    margin-bottom: 2px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.81);
    margin-top: 4px;
}
hr.dividerwall {
    border-top: 1px solid #e2e2e2;
    margin-left: -15px;
    margin-right: -15px;
}
.usrview {
    margin-left: 7px;
}
p.degignationwall {
    padding-bottom: 11px;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0,0,0,.6);
    font-family: Lato;
    border:none;
}
.textareawall .ql-editor.ql-blank::before {
    color: rgba(0,0,0,0.4);
    content: attr(data-placeholder);
    font-style: normal;
    pointer-events: none;
    position: absolute;
    font-family: Lato;
    font-size: 14px;
}
@media only screen 
and (min-width: 320px) 
and (max-width: 767px) {
    .postsec {
        width: 95%;
    }
    button.ant-btn.postedit {
        width: auto;
        font-size: 12px;
        padding: 0 10px 0 10px;
    }
    button.ant-btn.postimg {
        width: 30%;
        font-size: 12px;
    }
    button.ant-btn.post {
        width: 21%;
        margin-right: 0;
    }
    .postedpartcard {
        width: 95%;
    }
    .postedpartcard h3 {
        padding-left: 20px;
    }
    .postedpartcard p {
        padding-left: 20px;
    }
    .likecomment h3 {
        padding: 0 0 10px 4px;
    }

}