
.formsigninmit {
   padding:0 2em;
   background: #ffffff;
}

button.ant-btn.facebooksignin {
    background: #4267b2;
    color: #ffffff;
    font-family: Lato;
    height: 47px;
    border: none;
    width: 60%;
    margin-bottom: 2em;
    
}
button.ant-btn.googleplussign {
    background:#dd4b39;
    color: #ffffff;
    font-family: Lato;
    height: 47px;
    border: none;
    width: 60%;
}

.formsigninmit .sociallogin {
    display: flex;
    justify-content: center;
    align-items: center;
}
.signupwithsocial {
    margin-left: -17px;
}
.signupwithsocial .kep-login-facebook.metro{
    background: #4267b2;
    color: #ffffff;
    font-family: Lato;
    height: 40px;
    border: none;
    width: 78%;
    margin-bottom: 2em;
    border-radius: 4px;
    font-size: 13px !important;
    text-transform: none;
    font-weight: 400;
    padding:0;
}
.signupwithsocial .googleplussign{
    background: #dd4b39;
    color: #ffffff;
    font-family: Lato;
    height: 40px;
    border: none;
    width: 78%;
    border-radius: 4px;
    font-size: 13px;
    cursor: pointer;
    padding:0;
}
.signupwithsocial .googleplussign:focus , .kep-login-facebook.metro:focus{
    outline: none;
}
.signupwithsocial .kep-login-facebook.metro:hover{
    background: #385ba0;
}
.signupwithsocial .googleplussign:hover{
    background: #ee5c49;
}



p.regtext {
    margin-top: 23px;
    margin-bottom: 2em;
    font-family: Lato;
    font-weight: 400;
    font-size: 14px;
    color: #8e8b8b;
}
a.loginlink {
    font-size: 16px;
    color: #6940ba;
    font-family: Lato;
    font-weight: 500;
}



.signinarea {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
}

.centercontent {
    display: flex;
    justify-content: center;
    align-items: center;
}




/* -------------------12march css change for middle the section start----------------------*/
.signinarea .wrapper {
   margin:0;
}
.signinarea .formsinput{
    margin-left:11px;
}
.signinarea .signupwithsocial{
    margin-right: 24px;
    text-align: right;
    margin-left:0;
}
.signinarea .line {
    left: 41px;
}
.signinarea .wordwrapper {
    left: 28px;
}
.signinarea form.formsinput span.ant-input-affix-wrapper {
    width: 100%;
    display: block;
}
.signinarea .ordivider{
    width:27px;
    height:27px;
    line-height: 26px;
}
.signinarea p.regtext{
    margin:1em 0;
}
.signinarea p.signfont{
    margin-top:0;
}
.signinarea .registerbtn{
    margin-bottom:0;
}
.signinarea .formsigninmit {
    padding: 1em 2em;
    background: #ffffff;
}
.signinarea .loginlink{
    padding:5px;
}
.signinarea .loginlink:hover{
    background: rgba(214, 193, 255, 0.25);
    border-radius: 4px;
    color: #006097;
}
@media only screen and (min-width: 320px) and (max-width:767px){
    .signinarea .signupcard{
        margin-top:0em !important;
        margin-bottom:0em !important;
    }
    .signinarea .formsinput{
        margin-left:0;
    }
    .signinarea .signupwithsocial {
        margin-right: 0;
        text-align: center;
        margin-left: 0;
    }
    .signinarea .signupwithsocial .ordividerres{
      margin-bottom:22px;
    }
}
/* -------------------------12march css change for middle the section end--------------------------*/
