
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

body{
    font-family: Lato;
    background: #f7f7f7;
    font-family: 'Lato', sans-serif;
}

.mitprofileEditmodal .ant-modal-title{
    font-size: 17px;
    font-weight: 500;
    font-family: lato;
    margin: 0;
    color: rgb(89, 89, 89);
}

.ant-modal-wrap {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.ant-modal{
    top:0;
    width:50% !important;
}
.ant-modal-body{
    padding:0;
}
.editprofileform{
    padding:25px;
}
.mitedituserback img{
    width:100%;
    height:auto;
}
.mitedituserback{
    position: relative;
    overflow: visible;
    margin-bottom: 4em;
    background: linear-gradient(
        rgba(105, 64, 186, 0.75), 
        rgba(105, 64, 186, 0.75)
      ), url(../../Images/editprofileimg.svg) no-repeat;
    height: 20vh;
    background-size: cover;
}
.userimage{
    position: absolute;
    left:0;
    right:0;
    margin:0 auto;
    top:48%;
    border:2px solid #ffffff;
    border-radius: 50%;
    width:110px;
    height:110px;
    background: #ffffff;
    /* background: #ffffff url(../../Images/avatar.png) no-repeat; */
    background-size: 65px 65px;
    background-position: center;
    box-shadow: 0px 3px 8px 1px rgba(0,0,0,0.1);
}
/* .editbtn{
    position: absolute;
    right: -7px;
    bottom: 0;
    border-radius: 50%;
    padding: 5px 8px;
    background: rgb(105, 64, 186);
    box-shadow: 0px 3px 8px 1px rgba(0,0,0,0.1);
    border:none;

} */
/* ********************14th march***************************** */
.editbtn{
    position: absolute;
    right: 0px;
    bottom: 3px;
    border-radius: 50%;
    padding: 5px 8px;
    background: rgb(78, 84, 186);
    -webkit-box-shadow: 0px 3px 8px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 3px 8px 1px rgba(0,0,0,0.1);
    border: none !important;
}
.editbtn input{
    width: 100%;
    display: none;
}
/* ********************14th march***************************** */
.editbtn:hover{
    background: rgb(105, 64, 186);
    border:none;
}
.editbtn.ant-btn:focus{
    background: rgb(105, 64, 186);
    border:none;

}
.editbtn:active{
    background: rgb(105, 64, 186);
    border:none;
}

.editbtn .anticon-edit{
    color:#ffffff;
    font-size: 15px;
}
.userimage img{
    width: 95px;
    height: 95px;
    padding: 10px 10px;
    margin: 6px;
    text-align: center;
    vertical-align: middle;
}


.editprofileform .ant-row{
   margin-bottom:16px;
}

.editprofileform .ant-input:hover , .ant-select-selection:hover {
    border-color: rgba(105, 64, 186, 0.52) !important;
    box-shadow: none !important;
    outline: 0;
}
.editprofileform .ant-input:focus , .ant-select-selection:focus{
    border-color: rgba(105, 64, 186, 0.52) !important;
    box-shadow: none !important;
    outline: 0;
}



.editprofileform .anticon.anticon-phone{
   transform: rotate(90deg);
}
.savebtn{
    background: rgb(105, 64, 186);
    color:#ffffff;

}
.backbtn.ant-btn:hover {
    color: rgb(105, 64, 186);
    background-color: #fff;
    border-color: rgb(105, 64, 186);
}
.savebtn.ant-btn:hover{
    color: #ffffff;
    background-color: rgb(105, 64, 186);
    border-color: rgb(105, 64, 186);
}
.backbtn.ant-btn:focus {
    color: rgb(105, 64, 186);
    background-color: #fff;
    border-color: rgb(105, 64, 186);
}
.savebtn.ant-btn:focus{
    color: #ffffff;
    background-color: rgb(105, 64, 186);
    border-color: rgb(105, 64, 186);
}


.profilesec{
    background: linear-gradient(
        rgba(105, 64, 186, 0.75), 
        rgba(105, 64, 186, 0.75)
      ), url(../../Images/editprofileimg.svg) no-repeat;
    height: 35vh;
    position: relative;
    background-size: cover;

}
.profilesec img{
    height: 40%;
    width:100%;
    /* filter: blur(1px); */
}
.userpic{
    background-image: url('../../Images/male.png');
    margin: 0 auto;
    height: 130px;
    width: 130px;
    top: -65px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-position: center;
    background-color: rgba(255, 255, 255, 1);
    background-repeat:no-repeat; 
    box-shadow: 0 1px 15px 2px rgba(0,0,0,.08);
}
.userdetail{
    /* position: relative; */
    margin-bottom: 3.5em;
    margin-top: 3em;
}
.userdetail p{
    font-size: 26px;
    font-weight: 500;
    font-family: lato;
    margin: 0;
}
.userdetail h4{
    font-size: 17px;
    font-weight: 500;
    font-family: lato;
    margin: 0;
    color: rgb(89, 89, 89);
}
.userpic img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 4px solid white;
    /* box-shadow: 0 -1px 10px 4px rgba(0,0,0,.1); */
    filter: none;
}
.vieweditbtn{
    float: right;
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 45px;
    width:50px;
    height:50px;
    background: rgb(105, 64, 186);
    border-radius: 50%;
    padding:10px;
    box-shadow: 0px 3px 8px 1px rgba(0,0,0,0.1);
}
.vieweditbtn:hover{
    background: rgb(105, 64, 186);
    border:none;

}
.vieweditbtn.ant-btn:focus{
    background: rgb(105, 64, 186);
    border:none;

}
.vieweditbtn:active{
    background: rgb(105, 64, 186);
    border:none;

}
.vieweditbtn .anticon.anticon-edit{
    color:#ffffff;
    font-size: 25px;
    border:none;

}




.prodetail p{
   text-align: left;
   font-size: 16px;
   font-family: lato;
   word-break: break-all;
}
/* .maildetail{
    margin-top: 2em;
} */
/* .prodetail {
    padding: 10px 0;
} */
.prodetail{
    position: relative;
}
.prodetail:before{
        position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    content: "";
    width: 1px;
    height: 81%;
    top: 4px;
    background: #dedede;
}
.procard{
    height: auto;
    padding: 30px 30px 4em;
    background: white;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
    width: 60%;
    margin: 0 auto;
    position: absolute;
    top: 145px;
    left:0;
    right: 0;

}

.prodetail .anticon:before {
    color: rgb(105, 64, 186);
    font-size: 18px;

}
.profilesec .anticon{
    vertical-align: middle !important;
}

/* responsive css */
@media only screen 
and (min-width: 320px) 
and (max-width: 767px) {

    .procard {
     padding: 30px 0;
        width: 90%;
    }
}
@media only screen 
and (width: 1920px)  {
    .profilesec{
        height:92vh;
    }
}