.profilesec{
    background: rgb(225, 233, 238);
    height: 87vh;
    position: relative;
}
.profilesec img{
    height: 214px;
    width:100%;
    filter: blur(1px);
}
.userpic{
    background-image: url('../../Images/male.png');
    margin: 0 auto;
    height: 120px;
    width: 120px;
    top: -60px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.95);
    background-repeat:no-repeat; 
    box-shadow: 0 1px 15px 2px rgba(0,0,0,.08);
}
.userdetail{
    /* position: relative; */
    margin-top: 3.5em;
}
.userdetail p{
    font-size: 26px;
    font-weight: 500;
    font-family: lato;
    margin: 0;
}
.userdetail h4{
    font-size: 15px;
    font-weight: 500;
    font-family: lato;
}
.userpic img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    /* box-shadow: 0 -1px 10px 4px rgba(0,0,0,.1); */
    filter: none;
}
.profilesec i.anticon.anticon-edit{
    float: right;
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 45px;
}
.userdetail .anticon:before {
    color: rgb(105, 64, 186);
    font-size: 28px ;
    font-weight: 500;
}

.prodetail p{
   text-align: left;
   font-size: 16px;
   font-family: lato;
   word-break: break-all;
}
.maildetail{
    margin-top: 2em;
}
.prodetail {
    padding: 10px 0;
}
.procard{
    height: auto;
    padding: 30px;
    background: white;
    box-shadow: 0 2px 10px 2px rgba(0,0,0,.05);
    width: 65%;
    margin: 0 auto;
    position: absolute;
    top: 145px;
    left:0;
    right: 0;

}

.prodetail .anticon:before {
    color: rgb(105, 64, 186);
    font-size: 18px;

}
.profilesec .anticon{
    vertical-align: middle !important;
}

/* responsive css */
@media only screen 
and (min-width: 320px) 
and (max-width: 767px) {

    .procard {
     padding: 30px 0;
        width: 90%;
    }
}
@media only screen 
and (width: 1920px)  {
    .profilesec{
        height:92vh;
    }
}